
.scores-table {
  display: flex;
}

.player-column,
.player-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
}

input.score {
  width: 20px;
}

input.player-name {

}
